<div class="text-center">
    <br />
    <br />
    <br />
    <h2 style="color: slateblue"><b>ORHAN KÜTÜPHANESİNE HOŞGELDİNİZ</b></h2>
    <br />
    <br />
    <h4 style="color: slateblue"><b>KÜTÜPHANEMİZDEKİ BAZI KİTAPLAR</b></h4>

    <br />
</div>

<div class="text-center">
    <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="~/css/martin eden.png" />
            </div>
            <div class="carousel-item">
                <img src="~/css/şerlock.jpg" />
            </div>
            <div class="carousel-item">
                <img src="~/css/portakala.jpg" />
            </div>
            <div class="carousel-item">
                <img src="~/css/beni nedden sevmedin anne.jpg" />
            </div>
            <div class="carousel-item">
                <img src="~/css/deli.jpg" />
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
