<div class="text-center">
    <br />
    <br />
    <h2 style="color: slateblue"><b>ORHAN KÜTÜPHANESİ</b></h2>
</div>
    <br />
    <br />
<h3 style="color: slateblue">ADRES</h3>
    
    <h5>Işıklı Mahallesi Adnan Menderes Kyk Erkek Öğrenci Yurdu</h5>
    <h5>Efeler Aydın</h5>
<hr />
    <br />

<h3 style="color: slateblue">TELEFON</h3>
   
    <h5>0555 555 55 55</h5>
<hr />

    <br />
<h3 style="color:slateblue">E-POSTA</h3>

    <h5><a href="mailto:226001023@stu.adu.edu.tr">226001023@stu.adu.edu.tr</a></h5>
<hr />
